header * {
    all: unset;
}

header {
    display: flex;
    justify-content: space-between;

    margin: 0px 0px 15px 0px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navbar {
    display: flex;
    gap: 10px;

    list-style-type: none;
    padding: 0px;
    justify-content: right;
}

.button {
    display: flex;
    gap: 5px;

    cursor: pointer;

    border-radius: 5px;
    padding: 5px 10px;

    font-family: "Segoe UI";
    font-size: 20px;
}

.button__img {
    width: 25px;
}

.button--login {
    color: white;
    background-color: rgb(53, 53, 53);
}

.button--logout {
    background-color: rgb(255, 74, 74);
}

.button--user {
    color: white;
    background-color: rgb(109, 187, 109);
}

.logo {
    font-family: "Segoe UI";
    font-size: 20px;
}

.button:hover {
    box-shadow: rgb(194, 194, 194) 1px 1px 5px;
}

.button:hover .button__img--animate {
    animation: Animacion 0.5s infinite;
}

.user-buttons {
    display: flex;
    gap: 5px;
}

.navbar__open {
    display: none;
    height: 26px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    .navbar {
        top: 0px;
        right: 0px;

        align-items: flex-end;

        padding: 10px 0px;

        background-color: white;
        flex-direction: column;

        z-index: 1;
    }

    .navbar__open {
        display: block;
    }

    .user-buttons {
        order: -1;
    }

    .navbar--hidden {
        display: none;
    }
}

/* Usuario */

.usuario__datos {
    display: flex;
    flex-direction: column;
}

.usuario__dato {
    margin: 5px 0px;
}

.input__input {
    font-size: 18px;
}

.input__label {
    font-size: 18px;
}

@keyframes Animacion {
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
