input {
    padding: 5px;
}

label, input {
    font-size: 17px;
}

td {
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px;
    font-size: 17px;
}

.buttons {
    display: flex;
    gap: 50px;
}