.pelicula {
    position: relative;
    width: 400px;
    height: 600px;
    box-shadow: grey 1px 1px 10px;
    cursor: pointer;
}

/* .pelicula:hover {
    box-shadow: black 1px 1px 10px;
} */

/* .pelicula__link:hover {
    box-shadow: black 1px 1px 10px;
    cursor: pointer;
} */

.pelicula__opciones {
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;
    padding: 6px;
    right: 0px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.4);
}

.pelicula:hover .pelicula__opciones {
    visibility: visible;
}

.opciones__imagen {
    width: 23px;
}

.opciones__imagen--eliminar:hover {
    filter: invert(18%) sepia(80%) saturate(7229%) hue-rotate(358deg) brightness(119%) contrast(116%);
}

.opciones__imagen--editar:hover {
    filter: invert(54%) sepia(72%) saturate(3946%) hue-rotate(92deg) brightness(126%) contrast(120%);
}

.pelicula__texto {
    width: 100%;
    box-sizing: border-box;

    text-align: justify;
    font-family: "Segoe UI";
    text-shadow: black 1px 1px 10px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    color: white;
    bottom: 0px;
    padding: 50px 10px 0px 10px;
}

.pelicula__titulo {
    position: relative;
    top: -10px;
    margin: 10px 0px;
}

.pelicula__descripcion {
    position: relative;
    top: -10px;
    margin: 5px 0px;
}

.pelicula__descripcion {
    line-height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.pelicula__imagen {
    width: 100%;
}

.anadir__pelicula {
    opacity: 0.75;
}

/* Editar */

.editar {
    display: flex;
    gap: 30px;
}

@media (max-width: 1000px) {
    .pelicula {
        width: 300px;
        height: 450px;
    }
}

@media (max-width: 700px) {
    .pelicula {
        width: 175px;
        height: 262.5px;
    }

    .pelicula__titulo {
        font-size: 15px;
    }

    .pelicula__descripcion {
        font-size: 10px;
    }

    main {
        gap: 5px;
    }
}
