td, th {
    padding: 15px 10px;
    text-align: center;
}

th {
    background-color: rgb(66, 66, 255);
    color: white;
}

td {
    background-color: rgb(208, 208, 255);
}

.pelicula {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.pelicula__imagen {
    max-width: 35%;
}

.pelicula__info {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pelicula__titulo {
    margin: 0px;
}

.horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.seleccion {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.imagen-carrito {
    width: 25px;
}

.imagen-carrito:hover {
    animation: Animacion 0.5s infinite;
}

@media (max-width: 1000px) {
    .pelicula__imagen {
        max-width: 45%;
    }

    .pelicula__info {
        max-width: 45%;
    }
}

@media (max-width: 700px) {
    .pelicula {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .pelicula__imagen {
        max-width: 95%;
    }

    .pelicula__info {
        max-width: 95%;
    }

    .pelicula__info {
        text-align: center;
    }
}

